
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
	<link rel="shortcut icon" href="images/logodws.jpg">
	<title>Grobna mjesta</title>
</head>

<body>
	<nav class="navigacijski-meni">
<a href="index.html" class="nav-logo-link"><img src="images/logodws.jpg" class="nav-logo"></a>

          
		<div class="dropdown">
		</div>

		<div class="dropdown">
			<a class="dropbtn" href="index.html">Početna</a>			
	  		</div>
		</div>

		<div class="dropdown">
			<a class="dropbtn" href="#">Vjerska pripadnost</a>
			<div class="dropdown-content">	   
				<a href="#">Muslimani</a>
				<a href="#">Krščani/Hriščani</a>
				<a href="#">Pravoslavci</a>
				<a href="#">Ateisti</a>
				
	  		</div>
		</div>

		<div class="dropdown">
			<a class="dropbtn" href="ostaleUsluge.html">Ostale usluge</a>

		</div>



	</nav>

	<main>
		<header>
			<img class="slider" src="images/pozadina.jpg">
		</header>
	</main>
	<hr>
		<footer>
			<p class="tekst-desno">All rights reserved by EmbodimenTeam®
				<a href="https://www.instagram.com" target="_blank"><img class="drustvene-mreze" src="images/instagram.png"></a>
				<a href="https://www.facebook.com" target="_blank"><img class="drustvene-mreze" src="images/facebook-logo.png"></a>
				
			</p>
		</footer>
		</hr>
</body>
</html>